<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

	<appSettings>
		<add key="FolderWithPdf" value="..\..\..\..\..\TestsFolder\test100ALL\" />
		<add key="TempDirPath" value="..\..\..\..\..\TestsFolder\temp" />
		<add key="ExcellOutputFileNameWithoutExt" value="Выгрузка_баркодов" />
		<add key="MaxThreads" value="20" />
		<add key="ScanResolution" value="300" />
		<add key="HeightPersentageArea" value="15" />
		<add key="UseMemoryToLoadAllFiles" value="true" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
